[submodule "history"]
	path = history
	url = https://github.com/MKoblents/history
[submodule "infa"]
	path = infa
	url = https://github.com/MKoblents/infa
[submodule "opd"]
	path = opd
	url = https://github.com/MKoblents/opd
[submodule "progaaaaa"]
	path = progaaaaa
	url = https://github.com/MKoblents/progaaaaa
[submodule "data_base"]
	path = data_base
	url = https://github.com/MKoblents/data_base
